body{
    background-color:brown ;
	align-content: center;
	height:1080px;
}
img{
	width:auto;
}
*{
	margin:0px;
	padding:0px;
}
nav{
background-color: #002c5f ;	
height:110px;
display:flex;
position:relative;
align-items:right;
justify-content: right;
}
nav button{
background:transparent;
border-radius: 1%;
align-items: left;

}
nav button:checked{
	border-color:aliceblue;
}
nav button:hover{
	border-color:aliceblue;
}
.myNav{
	align-items: left;
	justify-content: left;
	margin:0px 5px 20px 0;
	height:100px;
}


#firstLogoPic{
	height:100px;
}
	
.fitlogo{
	height:140px;
}
.logout{
	height:90px;
	
}
.plogout{
	color: white;
	display:inline;
	font-size:46px;
	margin-bottom:20px;
}