body{
    background-color:brown ;
	align-content: center;
	height:1080px;
}
img{
	width:auto;
}
*{
	margin:0px;
	padding:0px;
	font-family: 'Times New Roman', Times, serif;
}
nav{
background-color: #002c5f ;	
height:90px;
display:flex;
position:relative;
box-shadow: 0 4px .5 rgba(0,0, 0, .5);
/* align-items:right;
justify-content: right; */
}
nav button{
background:transparent;
border-radius: 1%;


}
.logouttxt{
	padding-bottom: 10px;
	display:inline;
}
.logout{
	margin-bottom:10px;
}
nav button:checked{
	border-color:aliceblue;
}
nav button:hover{
	border-color:aliceblue;
}
.myNav{
	margin:-20px 10px 10px 0;
	width:50%;
	
}
.logoutbt{
	width:50%;
	display:flex;	
	align-items:right;
	justify-content: right;
	padding-bottom:10%;
	
}


#firstLogoPic{
	height:100px;
}
	
.fitlogo{
	height:90px;
	margin-top: 15px;
}
.logout{
	margin-top: 15px;
	height:50PX;

}
.plogout{
	color: white;
	display:inline;
	font-size:46px;
	text-align:right;
	
}